<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=<device-width>, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<title></title>
</head>
<body>
	{% block content %}
		<h2>Hyper news</h2>
		{% regroup sorted_news by created|slice:":-9" as grouped_news %}
		{% for date, articles in grouped_news %}
			{# Print the creation date #}
			<h4>{{ date }}</h4>
			<ul>
				{% for article in articles %}
					<li><a target="_blank" href="/news/{{ article.link }}/">{{ article.title }}</a></li>
				{% endfor %}
			</ul>
		{% endfor %}
		<a target="_blank" href="/news/create/">Add news</a>
		<br><br>
		<form action="/news/" method="get">
			{% csrf_token %}
			<label for="q">Search articles: </label>
			<input name="q" id="q" type="search">
			<button type="submit">Search</button>
		</form>
	{% endblock content %}
</body>
</html>